# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Debugger
.vscode/

# Build output
dist/
build/
out/

# Cache
.cache/
*.cache
.nyc_output/
coverage/
tmp/
temp/

# OS-specific files
.DS_Store
Thumbs.db

# Dep

